{
  "plugins": [
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
  ],
  "presets": [
    ["react"],
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      },
    }]
  ]
}
