.revolut-app-wrapper
  text-align: center
  margin-top: 30%
.exchanger-wrapper
  display: inline-block
  margin: auto
  position: relative

  & > div
    display: inline-block
    vertical-align: top


.money-selector-wrapper
  width: auto
  text-align: left

  margin: 0 40px

.swap-button
  border: none
  outline: none
  background: none
  cursor: pointer
  padding-top: 6px
  font-size: 20px
  width: 36px
  height: 36px


